
	<!--<script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>-->
	<!--<script src="http://127.0.0.1/jquery-1.10.1.min.js"></script>-->
	
						<div class="row">
							<div class="12u">
							</div>
						</div>
	<div id="memberForm" class="row half">
		<div class="12u">
			<form role="form" id="membershipForm">
				<div class="row half">
					<div class="6u">
						<input type="text" class="form-control" id="memberName" name="memberName" placeholder="Name">
					</div>
					<div class="6u">
						<input type="text" class="form-control" id="memberEmail" name="memberEmail" placeholder="Email">
					</div>
				</div>
				<div class="row half">
					<div class="12u">
						<textarea rows="5" maxlength="512" id="memberAddress" name="memberAddress" placeholder="Residential Address"></textarea>
					</div>
				</div>
				<div class="row half">
					<div class="12u">
						<label><input type="checkbox" id="memberAllowed" name="memberAllowed"> I am a citizen or permenant resident of Australia, OR, an incorporated or registered legal entitiy according to the relevant Australian state or federal law.</label>
					</div>
				</div>
				<div class="row">
					<div class="12u">
						<a class="button" id="memberSubmit">Get Payment Address</a>
						<a class="button button-alt form-button-reset" onclick="$('#membershipForm')[0].reset();">Clear Form</a>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="row half" id="loadingPayment" style="display:none;">
		<div class="12u">
			<h3>Loading<span id="loadingAnimation"></span></h3>
		</div>
	</div>
	<div class="row half" id="memberPaymentAddress" style="display:none;">
		<div class="12u">
			Please pay <span id="paymentAmount"></span> to:
			<h3 id="addressToPay"></h3>
			<a id="bitcoinURI" href=""><img id="bitcoinQR" src="" alt="QR code and bitcoin: link" width="300" height="300"></a><br>
			Click the QR code for a bitcoin: link!
			
			<p>Once you've sent payment there is nothing more you are required to do. Your membership will be manually processed and you will be emailed when it is complete.
			<br><br>
			Kind Regards,<br>Bitcoin Australia</p>
			<!-- THIS IS DEBUG STUFF -->
			<!-- <div class="row">
				<div class="12u">
					<a class="button" id="paymentGoBack">Back</a>
				</div>
			</div> -->
		</div>
	</div>
	<div class="row half" id="memberError" style="display:none;">
		<div class="12u">
			<h3 class="error">Error: <span id="errorReport"></span></h3>
			<div class="row">
				<div class="12u">
					<a class="button" id="errorGoBack">Back</a>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
	$("#memberSubmit").click(function(){
		$("#memberForm").slideUp(200);
		$("#loadingPayment").slideDown(200);
		$.ajax({
			"success":function(data, z, y){
				console.log(data);
				paymentDetails = JSON.parse(data);
				if(paymentDetails["error"] == "none"){
					$("#paymentAmount").html(paymentDetails["amount"]);
					$("#addressToPay").html(paymentDetails["address"]);
					$("#bitcoinURI").attr("href",paymentDetails["uri"]);
					$("#bitcoinQR").attr("src","https://chart.googleapis.com/chart?cht=qr&chs=300x300&chl="+encodeURIComponent(paymentDetails["uri"]));
					$("#loadingPayment").slideUp(200);
					$("#memberPaymentAddress").slideDown(200);
				}else{
					$("#errorReport").html(paymentDetails["error"]);
					$("#loadingPayment").slideUp(200);
					$("#memberError").slideDown(200);
				}
			},
			"type":"POST",
			"url":"/membership",
			"data":{
				"memberEmail":$("#memberEmail").val(),
				"memberName":$("#memberName").val(),
				"memberAddress":$("#memberAddress").val(),
				"memberAllowed":$("#memberAllowed").is(":checked"),
				"memberTier":"1",
			},
		});
	});
	$("#errorGoBack").click(function(){
		$("#memberError").slideUp(200);
		$("#memberForm").slideDown(200);
	});
	$("#paymentGoBack").click(function(){
		$("#memberPaymentAddress").slideUp(200);
		$("#memberForm").slideDown(200);
	});
	
	loadingAnimCounter = 0;
	loadingAnimation = function(){
		if($("#loadingPayment").is(":visible")){
			loadingAnimCounter += 1;
			$("#loadingAnimation").html(["",".","..","..."][loadingAnimCounter % 4]);
		}
		setTimeout(loadingAnimation,500);
	}
	loadingAnimation();
	</script>
